#cotacao .loader {
	background-image:url(../figuras/loader.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:14px;
}
#cotacao {
	font-size:12px;
	width:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:left;
}

#cotacao .titulo_compra, #cotacao .titulo_venda, #cotacao .titulo, #cotacao .compra, #cotacao .venda, #cotacao .variacao, #cotacao .titulo_separador {
	display:inline-block;
	margin:0;
	padding:3px 0 3px 0 ;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}


#cotacao .titulo, #cotacao .titulo_separador {
	width:50%;
}
#cotacao .compra, #cotacao .venda, #cotacao .variacao, #cotacao .titulo_compra, #cotacao .titulo_venda {
	width:22%;
}