.pgrupo
{
	margin-top: 30px;
	font-family: Arial;
	font-size: 0.9em;
	border: 1px dashed #ccc;
	padding:10px;
	background-color: #E7EFF7;
	clear: both;
}

.pgrupo a:link, .pgrupo a:visited
{
	text-decoration: none;
	color: #00F;
}

.pgrupo a:hover, .pgrupo a:active
{
	text-decoration: underline;
}

.pmodulo
{
	padding-left: 20px;
	clear: both;
	width: 100%;
}

.pgrupo_titulo
{
	padding-left: 18px;
	float: left;
	clear: left;
}

.pgrupo_off
{
	background: transparent url('../figuras/checkbox_off.gif') no-repeat left center;
}

.pgrupo_on
{
	background: transparent url('../figuras/checkbox_on.gif') no-repeat left center;
}

.cbox
{
	float: left;
	margin-right: 10px;
	height: 1em;
	max-height: 1em;
}

.cbox_grupo
{
	margin-left: 220px;
	margin-bottom: -20px;
}

.clear_div
{
	clear: both;
	line-height: 1px;
	height: 1px;
}