.legendaVerdeEscuro
{
	background:#204e20;
	color:#FFF;
}

.legendaBranco {
	background:#FFF;
	color:#000;
}

.legendaVerde
{
/*	background:#d6e7d6; VERDE CLARO*/
	background:#447744;
	color:#FFF;
}

.legendaAmarelo
{
/*	background:#f4f6d7; AMARELO CLARO*/
	background:#f8d200;
}

.legendaVermelhoEscuro
{
/*	background:#e5a6a4; VERMELHO CLARO/ESCURO*/
	background:#982724;
	color:#FFF
}

.legendaVermelho
{
/*	background:#eccccb; VERMELHO CLARO */
	background:#982724;
	color:#FFF
}

.legendaLaranja
{
/*	background:#efd8b7; LARANJA CLARO */
	background:#ff9000;
}

.legendaAzul
{
	background:#0066FF;
}

.legendaAzulEscuro
{
	background:#101a68;
	color:#FFF;
}